<!DOCTYPE html>
<html lang="en">

<head>
    <title>True Blog</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                    <a href="home.py">Home</a>
                </li>
                <li role="presentation">
                    <a href="admin.py">Admin Page</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">True Blog</h3>
    </div>

        <div class="jumbotron">
            <p>{{text}}</p>
        </div>


        <footer class="footer"></footer>

    </div>
</body>

</html>